src/main/app/sys-sfdc/getprojectbyprojecgtid.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <flow name="GET_PROJECT_BY_PROJECT_ID" processingStrategy="synchronous">
        <vm:inbound-endpoint exchange-pattern="request-response" path="VM_GET_PROJECT_BY_PROJECT_ID" connector-ref="VM_IN_MEMORY" doc:name="VM_PROJECT_BY_PROJECT_ID"/>
        <logger message="Project Id: #[payload]" level="INFO" category="GET_PROJECT_BY_PROJECT_ID" doc:name="Log Payload"/>
        <dw:transform-message doc:name="Transform to Java Object">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <expression-component doc:name="Expression"><![CDATA[flowVars.projectId=payload.ProjectId;
flowVars.createdDateTime=  new org.mule.el.datetime.DateTime(payload.CreatedDate);]]></expression-component>

        <sfdc:query-all config-ref="Salesforce__Basic_Authentication" query="${main.sfdc.query}  WHERE Project_Status__c in ('${aria.project_status.active}', '${aria.project_status.build_period}', '${aria.project_status.closed}', '${aria.project_status.closure_requested}', '${aria.project_status.hibernation}', '${aria.project_status.suspended}') AND SalesForce_ProjectId__c = '#[flowVars.projectId]'  AND LastModifiedById != '${sfdc.accountId}'" doc:name="Salesforce"/>
        <json:object-to-json-transformer mimeType="application/json" doc:name="Object to JSON"/>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <logger message="#[exception.getSummaryMessage()]" level="ERROR" category="GET_PROJECT_BY_PROJECT_ID" doc:name="Log Exception"/>
            <set-payload value="Unable to retrieve Project by Project Id: #[flowVars.projectId]" doc:name="Set Payload"/>
            <set-property propertyName="http.status" value="#[400]" doc:name="400"/>
        </catch-exception-strategy>
    </flow>
</mule>
