src/main/app/proc-merrillcorp-project/processoracleproject.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
    <flow name="PROCESS_ORACLE_PROJECT" processingStrategy="synchronous">
        <vm:inbound-endpoint exchange-pattern="request-response" path="VM_PROCESS_ORACLE_PROJECT" connector-ref="VM_IN_MEMORY" doc:name="VM_PROCESS_ORACLE_PROJECT"/>
        <logger message="Before Map Oracle Project: #[payload]" level="DEBUG" category="PROCESS_ORACLE_PROJECT" doc:name="[DEBUG]Log Payload"/>
        <vm:outbound-endpoint exchange-pattern="request-response" path="VM_MAP_ORACLE_PROJECT" connector-ref="VM_IN_MEMORY" doc:name="VM_MAP_ORACLE_PROJECT"/>
        <logger message="After Map Oracle Project: #[payload]" level="DEBUG" category="PROCESS_ORACLE_PROJECT" doc:name="[DEBUG]Log Payload"/>
        <vm:outbound-endpoint exchange-pattern="request-response" path="VM_PUBLISH_ORACLE_PROJECT" connector-ref="VM_IN_MEMORY" doc:name="VM_PUBLISH_ORACLE_PROJECT"/>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <logger message="#[exception.getSummaryMessage()]" level="ERROR" category="PROCESS_ORACLE_PROJECT" doc:name="Log Exception Summary"/>
        </catch-exception-strategy>
    </flow>
</mule>
