src/main/app/proc-merrillcorp-project/subscribeoracleprojectqueue.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:microsoftservicebus="http://www.mulesoft.org/schema/mule/microsoftservicebus" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/microsoftservicebus http://www.mulesoft.org/schema/mule/microsoftservicebus/current/mule-microsoftservicebus.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">



    <flow name="SUBSCRIBE_ORACLE_PROJECT_QUEUE" processingStrategy="synchronous">
        <microsoftservicebus:queue-receive config-ref="Microsoft_Service_Bus__Azure_Service_Bus" doc:name="Microsoft Service Bus (Streaming)" sourceQueue="oracleProjects"/>
        <logger message="Azure Service Bus Oracle Project Message: #[payload]" level="DEBUG" category="SUBSCRIBE_ORACLE_PROJECT_QUEUE" doc:name="[DEBUG]Log Payload"/>
        <vm:outbound-endpoint exchange-pattern="request-response" path="VM_EXTRACT_SERVICE_BUS_BODY" connector-ref="VM_IN_MEMORY" doc:name="VM_EXTRACT_SERVICE_BUS_BODY"/>
        <set-variable variableName="oracleProject" value="#[payload]" doc:name="Flow Var Oracle Project from Queue Message"/>
        <dw:transform-message doc:name="Transform to Java Object">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <vm:outbound-endpoint exchange-pattern="request-response" path="VM_POST_ORACLE_PROJECT" connector-ref="VM_IN_MEMORY" doc:name="VM_POST_ORACLE_PROJECT"/>
        <logger message="Post Oracle Project Response: #[payload]" level="DEBUG" category="SUBSCRIBE_ORACLE_PROJECT_QUEUE" doc:name="[DEBUG]Log Post Oracle Project Response"/>
        <vm:outbound-endpoint exchange-pattern="request-response" path="VM_PUBLISH_ORACLE_PROJECT_POST_RESPONSE" connector-ref="VM_IN_MEMORY" doc:name="VM_PUBLISH_ORACLE_PROJECT_POST_RESPONSE"/>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <logger level="INFO" doc:name="Log Exception"/>
            <set-payload value="#[flowVars.oracleProject]" doc:name="Set Payload"/>
            <vm:outbound-endpoint exchange-pattern="request-response" path="VM_PUBLISH_ORACLE_PROJECT_ERROR" connector-ref="VM_IN_MEMORY" doc:name="VM_PUBLISH_ORACLE_PROJECT_ERROR"/>
        </catch-exception-strategy>
    </flow>
</mule>
