src/main/app/proc-merrillcorp-project/subscribeoracleprojectpostresponse.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:microsoftservicebus="http://www.mulesoft.org/schema/mule/microsoftservicebus" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/microsoftservicebus http://www.mulesoft.org/schema/mule/microsoftservicebus/current/mule-microsoftservicebus.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <flow name="SUBSCRIBE_ORACLE_PROJECT_POST_RESPONSE" processingStrategy="synchronous">
        <microsoftservicebus:queue-receive config-ref="Microsoft_Service_Bus__Azure_Service_Bus" sourceQueue="oracleprojectpostresponse" doc:name="Microsoft Service Bus (Streaming)"/>
        <logger message="Initial Payload: #[payload]" level="DEBUG" category="SUBSCRIBE_ORACLE_PROJECT_POST_RESPONSE" doc:name="[DEBUG]Log Initial Payload"/>
        <vm:outbound-endpoint exchange-pattern="request-response" path="VM_EXTRACT_SERVICE_BUS_BODY" connector-ref="VM_IN_MEMORY" doc:name="VM_EXTRACT_SERVICE_BUS_BODY"/>
        <set-variable variableName="oracleProjectResponse" value="#[payload]" doc:name="Flow Var Oracle Project Post Response"/>
        <dw:transform-message doc:name="Transform to Java Object">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload
]]></dw:set-payload>
        </dw:transform-message>
        <json:object-to-json-transformer mimeType="application/json" doc:name="Object to JSON"/>
        <vm:outbound-endpoint exchange-pattern="request-response" path="VM_POST_ORACLE_PROJECT_AND_SFDC_XREF" connector-ref="VM_IN_MEMORY" doc:name="VM_POST_ORACLE_PROJECT_AND_SFDC_XREF"/>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <logger message="#[exception.getSummaryMessage()]" level="ERROR" category="SUBSCRIBE_ORACLE_PROJECT_POST_RESPONSE" doc:name="Log Exception Summary"/>
        </catch-exception-strategy>
    </flow>
</mule>
